$primary-color: #FFEFE7;
$secondary-color: #D6A45F;
$tertiary-color: #D6A45F;
$primary-text-color: #8C1007;
$quaternary-color: #7E1C0D;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5em;


@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    @include flexCenter(row, space-between, center);
    @include buttonStyle;
    color: $primary-text-color;
    padding: 15px;
    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle;
    }
}

article {
    width: auto;
    color: $primary-text-color;
    @include flexCenter(row, space-between, center);
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    .impact-section {
        @include flexCenter(column, space-evenly, flex-start);
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }
    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }
    p {
        font-size: $paragraph-size;
    }
    @include buttonStyle;
    button {
        width: 12vw;
        padding: 10px;
        background-color: $quaternary-color;
        border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 1em;
        &:hover{
            transform: scale(1.05);
        }
    }
    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 60px;
    h2 {
        color: $primary-text-color;
        font-size: 2.5em;
    }

    .healthcare{
        padding-bottom: 60px;
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }
        .card-section {
            width: auto;
            height: auto;
            @include flexCenter(row, space-evenly, center);
            flex-wrap: wrap;
            column-gap: 200px;
            row-gap: 80px;
            .product-card {
                width: 15vw;
                height: 60vh;
                background-color: $secondary-color;
                color: $primary-text-color;
                padding: 20px;
                border-radius: 8px;
                .icon {
                    width: 100px;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 12px;
                    svg {
                        width: 28px;
                        height: 28px;
                    }
                }
                .product-image {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 16vw;
                        height: 30vh;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }
            }

        }

    }
    .furniture{
        @extend .healthcare;
        .product-card {
            background-color: $tertiary-color;
            color: white; 
        }
    }
}

.acerca-de-nosotros{
    padding-bottom: 60px;
    h2{
        font-weight: bold;
        padding-bottom: 50px;
    }
}
    .mision-section{
        @include flexCenter(row, space-evenly, center);
        .earth{
            width: 30vw;
            display: flex;
            gap:20px;
            color: $primary-text-color;
            img{
                object-fit: contain;
                color: $primary-text-color;
            }
            p{
                font-size: $paragraph-size;
                text-align: center;
            }

        }
    }
    .innovation{
        @extend .earth;
    }
.gallery{
    h2{
        font-weight: bold;
        padding-bottom: 50px;
        color: $primary-text-color;
    }
    .gallery-image{
        @include flexCenter(row, space-evenly, center);
        img{
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            &:hover{
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
  z-index: 1000;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
}

    
footer {
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    color: $secondary-color;
    .social-media {
        @include flexCenter(row, center, center);
        padding-bottom: 40px;
        gap: 40px;
        }
    }
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .whatsapp-float {
    width: 55px;
    height: 55px;
    font-size: 26px;
  }
}
